@import '../Layers/00_Background/BackgroundLayer.scss';
@import '../Layers/01_Fight/FightLayer.scss';
@import '../Layers/02_Map/MapLayer.scss';
@import '../Layers/02_Map/MapScreens.scss';
@import '../components/AudioSettings/AudioSettings.scss';

$number_of_layers: 3;

// Global Styles
html {
    background-color: #1a1a2e;
}
body  {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #1a1a2e;
    overflow: hidden;
}
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #1a1a2e;
    box-sizing: border-box;
    overflow: hidden;
  }
// Below two functions are for making each layer come and go from a different direction
  @function get-top-position($i) {
    @if $i % 4 == 0 {
      @return 0;
    } @else if $i % 3 == 0 {
      @return 100vh;
    } @else if $i % 2 == 0 {
      @return  0;
    } @else {
      @return -100vh;
    }
  }
  @function get-left-position($i) {
    @if $i % 4 == 0 {
      @return -100vw;
    } @else if $i % 3 == 0 {
      @return 0;
    } @else if $i % 2 == 0 {
      @return  100vw;
    } @else {
      @return 0;
    }
  }
// This sets the base for every layer. Add through 'n' layers.
  @for $i from 0 through $number_of_layers {
    .layer-#{if($i < $number_of_layers, '0' + $i, $i)}-container {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: $i * 100;
      display: flex;
      flex-direction: column;
      transition: all 1.5s ease-in-out;

      &.layer-hidden {
        pointer-events: none;
        // opacity: 0;
        top: get-top-position($i);
        left: get-left-position($i)
      }

    }

  }
