@keyframes useCard {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1.25);
    }
    40% {
      transform: translateX(-8px) scale(1.25);
    }
    100% {
      transform: translateX(192px) scale(1.25);
      opacity: 0;
    }
  }
  
  .animate-use-card {
    animation: useCard 1.5s forwards;
  }
  
  @keyframes drawCard {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animate-draw {
    animation: drawCard 0.5s ease-in-out forwards;
  }